.cart-wrapper {
  position: absolute;
  top: 116px;
  right: 0;
  z-index: 20;
  background-color: white;
  padding: 20px;
  width: 400px;
  border: solid 1px rgba(54, 48, 44, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  a, button {
    background-color: rgba(255, 208, 201, 1);
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    color: rgba(54, 48, 44, 1);
    font-size: .9rem;
    font-weight: 600;
    margin: 10px;
    text-transform: uppercase;
    display: relative;
    align-self: flex-end;
    padding: 10px;
  }
}
